/* Reset básico */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box; /* Incluye padding y border en el tamaño total del elemento */
}

.side-image {
    position: fixed;
    z-index: 10; /* Asegúrate de que se muestre sobre otros elementos */
}

.left-side {
    left: 0;
    top: 50%;
    transform: translateY(-50%); /* Centra verticalmente */
    width: auto; /* Mantiene el tamaño original */
    height: auto; /* Mantiene el tamaño original */
}

.right-side {
    right: 0;
    top: 50%;
    transform: translateY(-50%); /* Centra verticalmente */
    width: auto; /* Mantiene el tamaño original */
    height: 350px; /* Mantiene el tamaño original */
    margin-right: 70px;
}


/* Header */
header {
    background: linear-gradient(to right, #084ca5, #8b9cd3);    border-radius: 50%; /* Hace que el fondo sea redondo */
    height: 150px;
    border: 6px solid black;
    border-radius: 20px;
    display: flex;
    flex-direction: column; /* Alinea los elementos en columna */
    align-items: center; /* Centra los elementos horizontalmente */
    justify-content: center; /* Centra los elementos verticalmente */
    position: relative; /* Para el posicionamiento de otros elementos si fuera necesario */
}

.logowikired {
    position: absolute;
    left: 20px;
    width: 200px; /* Ajusta según el tamaño deseado */
    height: auto; /* Mantiene la proporción original */
    margin-top: -30px;
}

.texto{
    color: white;
    text-align: center;


}

.texto {
    font-size: 20px;
    margin-top: 15px; /* Espacio entre .texto y .titulo */
}


.titulo{
    font-size: 70px;
    margin-bottom: 60px;
}

.pregunta{
    margin-bottom: -70px;
}


/* Main */
main {
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 220px); /* Ajusta según la altura del header y footer */
}

.temas-container {
    text-align: center;
}

.temas-list {
    list-style-type: none; /* Elimina los puntos de la lista */
    padding: 0;
}

.temas-list li {
    margin-bottom: 10px; /* Espacio entre los ítems */
    font-size: 18px; /* Tamaño del texto de los temas */
    color: #333; /* Color del texto */
}

.temas-list a {
    text-decoration: none; /* Elimina el subrayado de los enlaces */
    color: inherit; /* Hereda el color del texto del elemento padre */
    font-weight: normal; /* Elimina el estilo de negrita si está presente */
    font-style: normal; /* Elimina el estilo de cursiva si está presente */
}



/* Footer */
footer {
    height: 70px;
    background: linear-gradient(to right, #084ca5, #8b9cd3);    border-radius: 50%; /* Hace que el fondo sea redondo */
    text-align: center;
    border: 6px solid black;
    border-radius: 20px;
    position: fixed; /* Mantiene el footer fijo en la parte inferior de la ventana */
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.btn-menu {
    border: 2px solid black;
    height: 30px;
    padding: 5px;
    background-color: aliceblue;
    color: black;
    text-decoration: none;
    border-radius: 10px;
    align-self: center;
}

.foroimg {
    width: 50px; /* Ajusta según el tamaño deseado */
    height: auto; /* Mantiene la proporción original */
}
